@inherits LayoutComponentBase
@namespace Booth.Landing.Layout

<div class="main">
    @Body
</div>

<style>
    .main {
        padding: 2rem;
        max-width: 600px;
        margin: auto;
        font-family: sans-serif;
        text-align: center;
    }

    input {
        padding: 0.5rem;
        font-size: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
    }
</style>
